<h1>Listing dogs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Description</th>
    <th>Born at</th>
    <th>Active</th>
    <th>Fav colors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogs.each do |dog| %>
  <tr>
    <td><%= dog.name %></td>
    <td><%= dog.age %></td>
    <td><%= dog.description %></td>
    <td><%= dog.born_at %></td>
    <td><%= dog.active %></td>
    <td><%= dog.fav_colors %></td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dog', new_dog_path %>
